#bg1, #bg2, #bg3 {
    position: fixed;
    z-index: -50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/circles1.png) repeat 0 0;
}

#bg2 {
    z-index: -51;
    background-image: url(../images/circles2.png);
    background-size: 450px 450px;
}

#bg3 {
    z-index: -52;
    background-image: url(../images/circles3.png);
    background-size: 400px 400px;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.box {
    margin-top: 30px;
    padding: 50px;
    background-color: white;
    border: 3px solid grey;
}

.well {
    background-color: white;
    border: 3px solid grey;
    border-radius: 0;
    box-shadow: none;
}

.praxis {
    overflow: hidden;
}

.map {
    border: none;
    padding-left: 0;
}

.address {
    float: left;
    border: none;
    padding-top: 30px;
    font-family: Georgia, serif;
    font-size: 16px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: Georgia, serif;
    margin-top: 40px;
    padding-bottom: 100px;
}

.footer {
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
    opacity: 0.8;
}

.copyright {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #515151;
    padding-top: 20px;
}